.div-bg {
    background-image: url('../images/servicos.png');
    background-size: cover;
    background-position: center;
    height: 100%; /* Full viewport height */
    position: relative;
    padding-bottom: 5%;
  }

  .list{
    font-size: 1.5625rem; /* Adjusted for readability */
    font-weight: 400; /* Regular weight */
    color: #ffffff; /* White text color */
    font-style: normal; /* No italic for list items */
    padding-left: 10rem; /* Adjust padding from the left to align with bullets */
    list-style-type: disc; /* Ensure it shows a bullet point */
    
  }
